In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from sklearn.model_selection import train_test_split
from IPython.display import Image 
import io
import pydotplus
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier


%matplotlib inline

In [2]:
data = pd.read_csv(r"C:\Users\OFR\Desktop\Random Forest\dataset.csv")

In [3]:
data.head()

,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,1102,1,2,1,1,2,94,3,2,...,3,1,80,0,8,0,1,6,4,0
1,No,279,8,1,1,2,3,61,2,2,...,4,4,80,1,10,3,3,10,7,1
2,Yes,1373,2,2,1,4,4,92,2,1,...,3,2,80,0,7,3,3,0,0,0
3,No,1392,3,4,1,5,4,56,3,1,...,3,3,80,0,8,3,3,8,7,3
4,No,591,2,1,1,7,1,40,3,1,...,3,4,80,1,6,3,3,2,2,2

In [4]:
features = data.columns
features

Index(['Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'YearsWithCurrManager', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion'],
      dtype='object')

In [5]:
def convert_yes_no(txt):
    if 'Yes' in txt:
        return 1
    else:
        return 0

In [6]:
data.Attrition = data.Attrition.apply(convert_yes_no)

In [7]:
features = [x for x in features if x != 'Attrition']
features

['DailyRate',
 'DistanceFromHome',
 'Education',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'YearsWithCurrManager',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion']

In [8]:
train, test = train_test_split(data, test_size = 0.07)
print(len(data))
print(len(train))
print(len(test))

1470
1367
103

In [9]:
RF = RandomForestClassifier(n_estimators=100, max_depth=2,
                             random_state=0)

In [10]:
x_train = train[features]
y_train = train["Attrition"]

x_test = test[features]
y_test = test["Attrition"]

In [11]:
RF = RF.fit(x_train, y_train)

In [12]:
y_pred = RF.predict(x_test)

In [13]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [14]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred) * 100
print("Accuracy using Random Forest Classifier: ", round(score, 1), "%" )

Accuracy using Random Forest Classifier:  88.3 %